html,
body {
    height: 100%;
    background-color: #EDF1F5;
}

body.dark-mode {
    background-color: #0B1622;
}

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    background-color: inherit;
}

.content {
    flex: 1;
}

.sub-text {
    color: #000000;
}

body.dark-mode .sub-text {
    color: #8596A5;
}

.title-text {
    font-weight: bold;
    color: #0d6efd;
}

body.dark-mode .product-card {
    background-color: #151F2E;
    color: #8596A5;
}

.dockerfile {
    background-color: #FAFAFA;
    padding: 10px;
    border-radius: 10px;
}

body.dark-mode .dockerfile {
    background-color: #151F2E;
}

body.dark-mode .dockerfile-text {
    padding: 10px;
    border-radius: 10px;
}

.main-sub-title {
    font-weight: bold;
    color: #0d6efd;
}

body.dark-mode .text {
    color: #8596A5;
}
